[alert] a,
a[alert] i,
a[alert] em {
  color: var(--color-alert);
}
a[alert] i,
a[alert] em,
a[alert] b,
a[alert] strong,
button[alert],
input[alert],
textarea[alert],
article aside[alert] {
  border-color: var(--color-alert);
}
samp[alert],
button[alert],
a[alert] b {
  color: var(--color-bg);
  background-color: var(--color-alert);
}
article aside[alert] {
  background-color: var(--color-alert-accent);
}
[warning] a,
a[warning] i,
a[warning] em {
  color: var(--color-warning);
}
a[warning] i,
a[warning] em,
a[warning] b,
a[warning] strong,
button[warning],
input[warning],
textarea[warning],
article aside[warning] {
  border-color: var(--color-warning);
}
samp[warning],
button[warning],
a[warning] b {
  color: var(--color-bg);
  background-color: var(--color-warning);
}
article aside[warning] {
  background-color: var(--color-warning-accent);
}
[success] a,
a[success] i,
a[success] em {
  color: var(--color-success);
}
a[success] i,
a[success] em,
a[success] b,
a[success] strong,
button[success],
input[success],
textarea[success],
article aside[success] {
  border-color: var(--color-success);
}
samp[success],
button[success],
a[success] b {
  color: var(--color-bg);
  background-color: var(--color-success);
}
article aside[success] {
  background-color: var(--color-success-accent);
}
[notify] a,
a[notify] i,
a[notify] em {
  color: var(--color-notify);
}
a[notify] i,
a[notify] em,
a[notify] b,
a[notify] strong,
button[notify],
input[notify],
textarea[notify],
article aside[notify] {
  border-color: var(--color-notify);
}
samp[notify],
button[notify],
a[notify] b {
  color: var(--color-bg);
  background-color: var(--color-notify);
}
article aside[notify] {
  background-color: var(--color-notify-accent);
}
[accent] a,
a[accent] i,
a[accent] em {
  color: var(--color-accent);
}
a[accent] i,
a[accent] em,
a[accent] b,
a[accent] strong,
button[accent],
input[accent],
textarea[accent],
article aside[accent] {
  border-color: var(--color-accent);
}
samp[accent],
button[accent],
a[accent] b {
  color: var(--color-bg);
  background-color: var(--color-accent);
}
article aside[accent] {
  background-color: var(--color-accent-accent);
}
mark {
  background-color: var(--color-accent);
}
